/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/*PA Custom Variable Colors*/
$pa-white: 			#ffffff;
$pa-black: 			#000000;
$pa-light-gray: 	#E0E0E0;
$pa-dark-gray: 		#393a39;
$pa-primary: 		#F0F0F0;
$pa-secondary: 		#393a39;
$pa-tertiary: 		#989898;
$pa-cta: 			#1c498e;
$pa-accent: 		#ffcc00;
$pa-success: 		#dff0d8;
$pa-success-text: 	#3c763d;
$pa-success-border: #d6e9c6;
$pa-info: 			#d9edf7;
$pa-info-text: 		#31708f;
$pa-info-border: 	#bce8f1;
$pa-warning: 		#fcf8e3;
$pa-warning-text: 	#8a6d3b;
$pa-warning-border: #faebcc;
$pa-danger: 		#fffcfa;
$pa-danger-text: 	#a94442;
$pa-danger-border: 	rgba(169, 68, 66, 0.5);
$pa-sale-red: 		#e20014;

/*Default: Text Color*/
$sc-color-theme: $pa-secondary;
/*Default: Cart Icon, Varios Box Icons, SKU, Copyright*/
$sc-color-theme-light: $pa-light-gray;
/*Default: Header and Footer Color, looks like most text containers*/
$sc-color-theme-background: $pa-light-gray;
$sc-color-theme-background-light: lighten($pa-light-gray, 3.5);
$sc-color-theme-background-lightest: lighten($pa-light-gray, 6);
$sc-color-theme-border: desaturate(darken($pa-dark-gray, 8), 3);
$sc-color-background-list: #f1f8fa;
/*Default: CTA Buttons*/
$sc-color-primary: $pa-cta;
/*Default: Menu Text Color, Secondary Buttons*/
$sc-color-secondary: $pa-dark-gray;
/*Default: Various Buttons*/
$sc-color-tertiary: #ffffff;

$sc-color-success: #4a7f35;
$sc-color-success-background: #eef7e4;
$sc-color-warning: #8e7728;
$sc-color-warning-background: #f9f5cd;
$sc-color-error: #C33C48;
$sc-color-error-background: #FFE9F1;
$sc-color-info: $sc-color-theme-light;
$sc-color-info-background: $sc-color-theme-light;

$sc-color-primary-hover: saturate(lighten($sc-color-primary, 4), 10);
$sc-color-primary-active: desaturate(darken($sc-color-primary, 5), 10);
$sc-color-primary-disable: lighten($sc-color-primary, 18);

$sc-color-secondary-hover: saturate(lighten($sc-color-secondary, 4), 4);
$sc-color-secondary-active: darken($sc-color-secondary, 6);

$sc-color-tertiary-hover: $sc-color-secondary;
$sc-color-tertiary-active: darken($sc-color-secondary, 6);

$sc-color-link: $pa-accent;
$sc-color-link-hover: lighten($sc-color-link, 10);

$sc-color-dark-copy: #1f2223;
$sc-color-copy: #404040;
$sc-color-light-copy: lighten($sc-color-copy, 22);

//TODO: FIND OUT
$sc-color-range-off:#dcdcdc;
$sc-color-range-on: $sc-color-primary;

//Stars
$sc-color-star-filled: $pa-accent;
$sc-color-star-empty: lighten($pa-accent, 45%);
$sc-color-star-error: $pa-danger-text;
$sc-color-star-empty-disable: $pa-light-gray;

// icons
$sc-color-icon: #ffffff;

//Status
$sc-color-status: #fe6b38;

$sc-pusher-bg: #ffffff;

//Datepicker
$sc-days-disabled: #c5dbe7;

//Home Slide Theme
$sc-color-slide-background:#e9f1f5;

//Placeholder Colors
$sc-color-placeholder: #aab0b3;


.pa-primary {
	color: $pa-primary;
}
.pa-secondary {
	color: $pa-secondary;
}
.pa-cta {
	color: $pa-cta;
}
.pa-accent {
	color: $pa-accent;
}
.pa-white {
	color: $pa-white;
}
.pa-black {
	color: $pa-black;
}
.pa-light-gray {
	color: $pa-light-gray;
}
.pa-dark-gray {
	color: $pa-dark-gray;
}

@mixin pa-grad-gray {
	background: -moz-linear-gradient(top, rgba(107,108,109,1) 0%, rgba(79,81,80,1) 64%);
	background: -webkit-linear-gradient(top, rgba(107,108,109,1) 0%,rgba(79,81,80,1) 64%);
	background: linear-gradient(to bottom, rgba(107,108,109,1) 0%,rgba(79,81,80,1) 64%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6c6d', endColorstr='#4f5150',GradientType=0 );
}

@mixin pa-grad-dark-gray {
	background: #4f5150;
	background: -moz-linear-gradient(top,  #4f5150 0%, #363837 100%);
	background: -webkit-linear-gradient(top,  #4f5150 0%,#363837 100%);
	background: linear-gradient(to bottom,  #4f5150 0%,#363837 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f5150', endColorstr='#363837',GradientType=0 );
}

@mixin pa-grad-cta {
	border: 1px solid #04255a;
	background: #3b78d2;
	background: -moz-linear-gradient(top,  #3b78d2 0%, #04255a 100%);
	background: -webkit-linear-gradient(top,  #3b78d2 0%,#04255a 100%);
	background: linear-gradient(to bottom,  #3b78d2 0%,#04255a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b78d2', endColorstr='#04255a',GradientType=0 );
}

@mixin pa-grad-accent {
	border: 1px solid #9A7B00;
	background: #ffcc00;
	background: -moz-linear-gradient(top,  #ffcc00 0%, #d6ab00 100%);
	background: -webkit-linear-gradient(top,  #ffcc00 0%,#d6ab00 100%);
	background: linear-gradient(to bottom,  #ffcc00 0%,#d6ab00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#d6ab00',GradientType=0 );
}