{{!
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

{{#unless isCurrentPageLast}}
    <div class="infinite-scroll-button-wrapper">
        <!--<a href="{{nextPageURL}}" class="infinite-scroll-next-button" data-action="load-next">-->
            <!--{{translate 'Load Next'}}-->
        <!--</a>-->
    </div>
{{/unless}}