/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-paymentmethod-selector-module {
	@extend .box-column;
	overflow: visible;

	@media (min-width: $screen-sm-min) {
		min-height: 289px;	
   	}
	
	.creditcard-edit-form {
	  clear: both;
	}
	.creditcard-edit-form-securitycode {
		padding: 0;
	}
}

.order-wizard-paymentmethod-selector-module-header {
	margin-bottom: $sc-base-margin * 3;
	color: $sc-color-theme;
}

.order-wizard-paymentmethod-selector-module-options {
	@extend .input-large;
	margin-bottom: $sc-base-margin * 2;
	padding: $sc-base-padding * 2;
}

.order-wizard-paymentmethod-selector-module-payment-method-selector-content{}