
<form action="http://info.primaryarms.com/public/webform/process/" method="post">
<input type="hidden" name="fid" value="biw6i24iz83hw0q8qhdgz5wcf3fon" />
<input type="hidden" name="sid" value="e039ba0a064f8e6241e0493bd270275b" />
<input type="hidden" name="delid" value="" />
<input type="hidden" name="subid" value="" />
<input type="hidden" name="td" value="" />
<input type="hidden" name="formtype" value="addcontact" />
<script type="text/javascript">
var fieldMaps = {};
</script>

<div class="section" id="row_26725">
<div class="container" id="column_33378" style="text-align: left; width: 357px;">
<div class="email field_block">
<div class="caption">Email Address <span class="required">*</span></div>
<div class="field">
<span>
<input type="text" class="text field fb-email" size="35" name="64304" value="" />
</span>
<div class="field_error">
</div>
</div>
</div>
</div>
<div class="container" id="column_33379" style="text-align: left; width: 357px;">
<input type="hidden" name="64307[338795]" value="true" />
</div>
<div style="clear: both;">&nbsp;</div>
</div>
<div class="section" id="row_26726">
<div class="container" id="column_33380" style="text-align: left; width: 716px;">
<div class="field_block">
<div class="field">
<span>
<input type="submit" value="Subscribe" />
</span>
</div>
</div>
</div>
<div style="clear: both;">&nbsp;</div>
</div>
</form>