/* Scss Document */

html,
body {
	font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: $pa-dark-gray;
}

a:hover, a:focus {
	color: $pa-accent;
}

p {
	margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: $pa-dark-gray;
}

h1, h2, h3 {
	letter-spacing: 5px;
}

.text-center {
	text-align: center;
	
	img {
		margin: auto;
	}
}

.nopadding {
	padding: 0px;
}

.hidden-xs {
	display: none;
	
	@media (min-width: $screen-sm-min){
		display: block;
	}
}

.hidden-sm {
	display: none;
	
	@media (min-width: $screen-md-min){
		display: block;
	}
}

.opacity-half {
	opacity: 0.5;
}

.container-fluid {
	padding: 0px;
	
	img {
		width: 100%;
		display: block;
		margin: auto;
	}
	
	.row {
		margin: 0px;
	}
	
	.cms-content-image {
		margin-bottom: -5px;
	}

	
	@media (min-width: $screen-sm-min) {
		.cms-content-image {
			margin-bottom: 0px;
		}
	}
}

.sku {
    color: $sc-color-secondary;
}

.middle-price {
	color: $pa-black
}

.shopping-layout-header {
	-webkit-box-shadow: none;
    box-shadow: none;
}

.message-orange{
	@extend .message;
	color: $pa-white;
	background-color: $pa-cta;
}

.message-accent{
	@extend .message;
	color: $pa-white;
	background-color: $pa-accent;
}

.message-info {
	@extend .message-info;
	background: $pa-info;
	color: $pa-info-text;
}

.item-cell {
	text-align: center;
	margin-bottom: 0px;
}

.input-label {
	font-weight: normal;
}

input[type="text"], input[type="password"], input[type="email"], input[type="phone"], input[type="search"], input[type="number"] {
	@include border-radius(4px);
}

.button-primary{
	@include pa-grad-cta;
	border: none;
}

.button-accent{
	@include pa-grad-accent;
	border: none;
}

.restriction-message-container {
    padding: 30px 30px 15px 30px;
    margin-bottom: 20px;
    background: $pa-danger;
    border: 1px solid $pa-danger-border;
	display: block;
}

.home-banner-top-message {
    @extend .message-accent;
    @extend .message-large;
    background: #000;
    text-align: center;
}

.home-page {
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		min-height: 0px;
	}
}

.home-cms-page-banner-top {
	padding: 0px;
    background: #000000;
    background: -moz-linear-gradient(left, #000000 0%, #383838 30%, #383838 70%, #000000 100%);
    background: -webkit-linear-gradient(left, #000000 0%,#383838 30%,#383838 70%,#000000 100%);
    background: linear-gradient(to right, #000000 0%,#383838 30%,#383838 70%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
	
	div {
		padding: 0px;
		text-align: center;
		color: $pa-dark-gray;
		display: inherit;
	}
	
	p {
		margin: 0px;
		padding: 10px;
		color: $pa-accent;
		display: inline-block;
	}
}

.home-cms-page-promo-banner-4 {
	@extend .col-xs-6;
	padding: 0px 2px 0px 2px;
	
	@media (min-width: $screen-md-min) {
		@extend .col-sm-3;
	}
	
	img {
		width: 100%;
	}
}

.home-cms-page-promo-banner-3 {
	@extend .col-xs-12;
	padding: 0px 2px 0px 2px;
	
	@media (min-width: $screen-md-min) {
		@extend .col-sm-4;
	}
}

.home-cms-page-promo-banner-2 {
	@extend .col-xs-12;
	padding: 0px 2px 0px 2px;
	
	@media (min-width: $screen-md-min) {
		@extend .col-sm-6;
	}
}

.home-cms-page-banner-bottom-main {
	padding: 0px 2px 0px 2px;
}

.home-cms-page-main{
	padding: 0px 2px 0px 2px;
}

.home-cms-page-merchandising{
	padding: 0px 2px 0px 2px;
}

.row-padded {
	padding: 20px 5px 0 5px;
}

.home-cms-page-promo-banner-full-12 {
	@extend .col-xs-2;
	padding: 0px;
	
	@media (min-width: $screen-md-min) {
		@extend .col-sm-1;
	}
	
	img {
		width: 70%;
	}
}

.home-cms-page-promo-banner-full-8 {
	@extend .col-xs-3;
	padding: 0px;
	
	@media (min-width: $screen-sm-min) {
		@extend .col-sm-1;
		width: 12%;
	}

	img {
		max-width: 120px;
	}
}

.home-cms-page-promo-banner-full-8-spacer {
	@extend .col-xs-2;
	display: none;
	
	@media (min-width: $screen-sm-min) {
		@extend .col-sm-1;
		display: inline-block;
		width: 2%;
	}
}

.home-cms-page-promo-banner-full-6 {
	@extend .col-xs-4;
	padding: 0px;
	
	@media (min-width: $screen-md-min) {
		@extend .col-sm-2;
	}

	img {
		padding: 5px;
		max-width: 300px;
	}
}

.home-cms-page-promo-banner-full-5-first {
	@extend .col-xs-2;
	padding: 0px;
	
	@media (min-width: $screen-md-min) {
		@extend .col-xs-2;
		@extend .col-xs-offset-1;
	}
}

.home-cms-page-promo-banner-full-5 {
	@extend .col-xs-2;
	padding: 0px;
	
	@media (min-width: $screen-md-min) {
		@extend .col-xs-2;
	}
}

.home-cms-page-promo-banner-full-4 {
	@extend .col-xs-6;
	padding: 0px;
	
	@media (min-width: $screen-md-min) {
		@extend .col-sm-3;
	}
}

.home-cms-page-promo-banner-full-3 {
	@extend .col-xs-4;
	padding: 0px;
}

.home-cms-page-promo-banner-full-2 {
	@extend .col-xs-12;
	padding: 0px;
	
	@media (min-width: $screen-md-min) {
		@extend .col-sm-6;
	}
}


.home-main-full {
	@extend .col-xs-12;
	padding: 0px;
	position: relative;
}

.home-main-full-top {
	text-align: center;
	margin: auto;
	overflow: auto;
	
	@media (min-width: $screen-sm-min) {
		width: 80%;
	}
}

#home-main-sale-button {
	text-align: center;
	padding: 10px;
	margin: 15px 35px 0px 35px;
	background: #e0e0e0
}

.pad-left-0 {
	padding: 0px 15px 0px 15px;
	
	@media (min-width: $screen-sm-min) {
		padding: 0px 15px 0px 0px;
	}
}

.pad-right-0 {
	padding: 25px 15px 0 15px;
	
	@media (min-width: $screen-sm-min) {
		padding: 0px 0px 0px 15px;
	}
}

.home-float-row {
	@extend .row;
	position: relative;
}

.home-featured {
	width: 100%;
    display: block;
    clear: both;
    padding: 15px;
    text-align: center;
	background: white;
	-webkit-box-shadow: -5px 5px 21px 0px rgba(0,0,0,0.82);
	-moz-box-shadow: -5px 5px 21px 0px rgba(0,0,0,0.82);
	box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.44);
	
	img {
		max-height: 50px;
		max-width: 180px;
	}
	
	@media (min-width: $screen-md-min) {
		img {
			max-height: 75px;
			max-width: 270px;
		}
	}
}

.home-feature-1 {
	@extend .home-featured;
	
	@media (min-width: $screen-sm-min) {
		width: 25%;
		max-height: 110px;
		position: absolute;
		top: 90%;
		text-align:center;
		background: white;
		left: 10%;
	}
}

.home-feature-2 {
	@extend .home-featured;

	@media (min-width: $screen-sm-min) {
		width: 25%;
		max-height: 110px;
		position: absolute;
		top: 90%;
		text-align:center;
		background: white;
		left: 0;
		right: 0;
		margin: auto;
	}
}

.home-feature-3 {
	@extend .home-featured;

	@media (min-width: $screen-sm-min) {
		width: 25%;
		max-height: 110px;
		position: absolute;
		top: 90%;
		text-align:center;
		background: white;
		right: 10%;
	}
}

.home-feature-spacer {
	max-height: 100px;
	width: 100%;
	text-align:center;
}

.merch-zone-col {
	@extend .col-xs-6;
	
	position: relative;
	margin-bottom: 15px;
	padding-top: 15px;
	border-top: 1px solid #E0E0E0;
	
	&:nth-child(2n+1) {
		clear: left;
	}
	
	@media (min-width: $screen-sm-min) {
		@extend .col-sm-4;
		&:nth-child(2n+1) {
			clear: none;
		}
		&:nth-child(3n+1) {
			clear: left;
		}
	}
	
	@media (min-width: $screen-md-min) {
		@extend .col-md-2;
		&:nth-child(2n+1) {
			clear: none;
		}
		&:nth-child(3n+1) {
			clear: none;
		}
		&:nth-child(6n+1) {
			clear: left;
		}
	}
}

.merch-zone-content-container {
	text-align: center;
}

.merch-zone-item-stock-status {
}

.merch-zone-in {
	color: #4a7f35;
}

.merch-zone-out {
	color: #C33C48;
}

.merch-zone-item-title-container {
	min-height: 110px;
}

#merch-zone-item-title-heading {
	font-weight: normal;
	font-size: 13px;
}

.merch-zone-item-price-sale {
	color: $pa-sale-red;
	font-size: 15px;
}

.merch-zone-image {
	height: 110px;
	position: relative;
	
	img {
		width: 165px;
	}
}

.RR_Reviews_Widget_Wrapper_Container {
	
	@media (min-width: $screen-sm-min) {
		@extend .col-sm-3;
		@extend .col-sm-offset-0;
	}
}

#RR_Reviews_Widget_Wrapper_Content {
	max-width: 300px;
	margin: auto;
	
	@media (min-width: $screen-sm-min) {
		width: auto;
		max-width: 300px;
	}
}

.error-management-page-not-found-header {
	padding: 15px 0px;
}

.error-management-page-not-found-content {
	padding: 0px 0px 15px 0px;
}

.view-more-button-container {
	width: 100%;
}

.item-details-ship-fast-message {
	clear: both;
	display: block;
	margin: 0px 0px 20px 0px;
	background: $pa-info;
	padding: 10px;
}

.item-details-actions {
	padding: 15px 0px 15px 0px;
	margin: 0px;
}

.item-details-options-quantity, .quick-view-options-quantity {
	padding: 0px;
	margin-top: 0px;
}

.item-details-options-quantity-title {
	display: none;
}

.item-details-options {
	/*display: none;*/
}

.item-pa-options-group {
	@extend .message-info;
	width: 100%;
    background: $pa-white;
    font-size: 13px;
    z-index: 0;
    border: 1px solid $pa-dark-gray;
    padding: 10px 5px 10px 10px;
	margin: 0px 0px 15px 0px;
	
	a {
		display: block;
		color: $pa-dark-gray;
		font-size: 15px;
	}
	
	.acordion-head-toggle-icon {
		height: 100%;
		line-height: inherit;
	}
}

.item-pa-options-content {
	position: relative;
	background:white;
}

.item-pa-option-item-container {
	@extend .col-xs-12;
	
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 5px;
	
	img {
		padding: 0px;
		width: 60px;
		height: 40px;
	}
	
	div {
		padding: 0px;
	}
}

.item-pa-options-content-wrapper {
	margin-bottom: 15px;
}

.item-pa-options-slider {
	li {
		min-width: 120px;
		min-height: 30px;
	}
}

.item-pa-options-button {
	@include pa-grad-cta;
	padding: 3px 15px;
	color: #fff;
	display: inline-block;
}

.item-pa-options-out-contianer {
	opacity: 0.5;
}

.item-pa-options-container {
	@extend .col-xs-6;
	
	&:nth-child(2n+1) {
		clear: left;
	}
	
	@media (min-width: $screen-sm-min){
		@extend .col-sm-4;
		
		&:nth-child(2n+1) {
			clear: none;
		}
		
		&:nth-child(3n+1) {
			clear: left;
		}
	}
}

.item-pa-options-select-container {
	margin: 0px 0px 10px 0px;
	white-space: nowrap;
}

.item-pa-options-sale {
	color: $pa-sale-red;
	text-align: right;
	margin-bottom: 4px;
}

.itemp-pa-options-price {
	text-decoration: line-through;
	color: #e0e0e0;
	text-align: right;
	margin-bottom: 4px;
}

#item-pa-options-header {
	text-align:center;
	color:white;
	background:#4f5150;
	padding: 10px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}

.item-pa-options-aside {
	clear: left;
	margin: 0px 15px 0px 15px;
}

.item-details-limit-message {
	padding: 20px 0px 0px 20px;
	clear: left;
}

.item-details-actions-container, .quick-view-confirmation-modal-actions {
	padding: 0px;
	margin: 0px;
	clear: both;
	@media (min-width: $screen-sm-min){
		clear: none;
	}
}

.item-details-quantity-add, .item-details-quantity-remove, .quick-view-button-quantity-add, .quick-view-button-quantity-remove {
	display: inline;
	height: 56px;
	width: 33%;
	background-color: $pa-dark-gray;
	border: 1px solid lighten($pa-dark-gray, 10%);
}

.item-details-quantity-value, .quick-view-quantity-value {
	display: inline;
	height: 56px;
	padding: 0px;
	width: 33%;
	border-radius: 4px 0 0 4px;
	background-color: $pa-light-gray;
	-webkit-appearance: textfield;
	-moz-appearance: none;
	appearance: none;
}

.item-details-add-to-cart, .item-details-add-to-wishlist {
	padding: 0px;
	margin: 0px;
	
	@media (min-width: $screen-sm-min) {
		padding: 0px 0px 0px 10px;
	}
}

.quick-view-confirmation-modal-add-to-cart, .quick-view-confirmation-modal-add-to-product-list {
	@extend .col-xs-12;
	
	padding: 10px 0px 0px 0px;
	margin: 0px;
	
	@media (min-width: $screen-sm-min) {
		@extend .col-sm-12;
	}
	
	@media (min-width: $screen-md-min) {
		@extend .col-md-6;
		
		padding: 0px 0px 0px 10px;
	}
}

.quick-view-options-quantity {
	@extend .col-xs-6;
}

.item-details-add-to-cart-gift-cert {
	@extend .col-sm-6;
	
	padding: 0px;
}

.item-details-back-in-stock {
	padding: 0px;
	
	@media (min-width: $screen-sm-min) {
		@extend .col-sm-6;
	}
}

.item-details-image-gallery-container {
	margin-bottom: 10px;
}

.item-details-image-gallery {
	li {
		text-align: center;
	}
}

.item-details-message {
	@extend .message-info;
	width: 100%;
    background: $pa-danger;
    font-size: 13px;
    z-index: 0;
    border: 1px solid $pa-danger-border;
    padding: 10px 5px 10px 10px;
	
	a {
		display: block;
		color: $pa-danger-text;
		font-size: 15px;
	}
	
	.acordion-head-toggle-icon {
		height: 100%;
		line-height: inherit;
	}
}

.item-details-message-content {
	width: 100%;
	font-size: 13px;
	z-index: 1;
	padding: 10px 5px 10px 10px;
}

.item-restricted-indicator {
	@extend .message-info;
	background: $pa-danger;
	color: $pa-danger-text;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 1;
	border: 1px solid $pa-danger-border;
	padding: 10px 20px 10px 20px;
}

.item-restricted-indicator-checkout {
	@extend .item-restricted-indicator;
	position: relative;
	font-size: 12px;
	right: auto;
	padding: 8px 16px 8px 16px;
}

.item-views-stock-msg-description {
	color: $pa-info-text;
	background-color: $pa-info;
}

.item-views-stock-icon-description {
	color: $pa-info-text;
}

.item-views-stock-msg-in, .item-views-stock-msg-out {
	background-color: rgba(255, 255, 255, 0.82);
	font-size: 15px;
	padding: 5px;
	margin: 0;
}

.item-details-back-in-stock-button {
	@extend .item-details-add-to-cart-button;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid $pa-cta;
	&:hover {
		background: darken($pa-cta, 5%);
	}
}

.item-details-sku-container, .quick-view-confirmation-modal-sku {
	margin-top: 0;
	margin-bottom: 0;
}

.item-details-sku, .item-details-sku-value, .item-details-manufacturer, .quick-view-confirmation-modal-sku-label, .quick-view-confirmation-modal-sku-value  {
	color: lighten($pa-dark-gray, 30);
}

.quick-view-confirmation-modal-full-details-text {
	color: $pa-dark-gray;
	margin: 50px;
	float: right;
}

.item-details {
	margin-top: 15px;
	
	@media (min-width: $screen-md-min) {
		margin-top: 0px;
	}
	
	.item-views-stock-msg-in, .item-views-stock-msg-out {
		font-size: $sc-h3-font-size;
	}
	
	.item-views-price {
		padding: 0px 20px 8px 20px;
		float: left;
	}
	
	.item-views-price-lead {
		font-size: $sc-h2-font-size;
	}
	
	.item-views-price-lead-sale {
		font-size: $sc-h2-font-size;
	}
	
	.item-details-carousel-next, .item-details-carousel-prev {
		top: 19%;
	}
}

.item-details-info {
	overflow: auto;
}

.item-details-send-button {
	display: block;
}

.item-views-price-lead-sale {
	font-size: $sc-h4-font-size;
	color: $pa-sale-red;
}

.item-views-price-lead-p {
	padding: 5px 0px 0px 0px;
	margin-bottom: 0px;
}

.item-views-price-old {
	color: $pa-dark-gray;
	font-size: $sc-base-font-size;
}

.item-views-price-lead, .quick-view-confirmation-modal-price .item-views-price-lead {
	font-size: 18px;
	color: $pa-black;
	letter-spacing: 0;
	font-weight: normal;
}

.item-views-option-text {
	/*display: none;*/
	
	p {
		margin-bottom: 0;
	}
}

.item-details-content-header-title, .quick-view-confirmation-modal-item-name {
	letter-spacing: 0;
	text-transform: none;
}

.item-details-action-buttons {
    font-size: 15px;
    padding: 20px 0px 20px 0px;
	margin: 15px 0px 0px 0px;
	
	@media (min-width: $screen-sm-min) {
		margin: 0px;
	}
}

.item-details-manual-desktop {
	display: none;
	cursor: pointer;
	
	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.item-details-manual-mobile {
	display: block;
	cursor: pointer;
	
	@media (min-width: $screen-md-min) {
		display: none;
	}
}

#manualicon {
	font-size: 36px;
	color: $pa-accent;
}

#manual {
	color: $pa-accent;
}

.product-list-control-button-wishlist {
	@extend .item-details-action-buttons;
}

.product-list-edit-item-button-quantity-add, .product-list-edit-item-button-quantity-minus {
	height: 56px;
	
	@media (min-width: $screen-md-min){
		display: block;
	}
}

.item-details-add-to-cart-button {
	@extend .item-details-action-buttons;
	border: 1px solid darken($pa-cta, 5%);
}

.item-details-video-container {
	text-align: center;
	margin: 20px 0px 0px 0px;
	position: relative;
	
	@media (min-width: $screen-sm-min) {
		margin: 0px;
	}
}

.item-details-video-container-top {
	@extend .item-details-video-container;
	display: none;
	
	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.item-details-video-container-bottom {
	@extend .item-details-video-container;
	display: block;
	
	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.item-details-video-col {
    text-align: left;
    font-size: 11px;
    color: #4f5150;
}

.item-details-video {
	position: relative;
    padding-bottom: 52.25%;
    padding-top: 5px;
    height: 0;
	cursor: pointer;
	opacity: .75;
	
	&:hover {
		opacity: 1.00;
	}
	
	.item-details-video-no-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	pointer-events: none;
	}
}

.item-details-tab-content {
	padding: 10px;
	background-color: $pa-white;
	
	@media (min-width: $screen-sm-min){
		padding: 0px;
		background-color: $pa-white;
		
		div {
			background-color: $pa-white;
		}
	}
}

.item-details-more-info-content-container {
	background: $pa-white;
}

.item-details-header-text {
	color: #adadad;
	margin: 0px;
	padding: 0px;
	letter-spacing: 5px;
	text-transform: uppercase;
	
	@media (min-width: $screen-sm-min) {
		padding: 5px 5px 5px 10px;
		border-bottom: 1px solid #e0e0e0;
	}
}

.item-details-description-header {
	@extend .item-details-header-text;
}

.item-details-attributes-header {
	@extend .item-details-header-text;
	margin-bottom: 0px;
	
	@media (min-width: $screen-sm-min) {
		margin-bottom: 20px;
	}
}

.product-reviews-center-container-header-title {
	@extend .item-details-header-text;
	border: none;
}

.sc-pusher-header-back {
	color: $pa-dark-gray;
}

.item-details-info-pusher {
	margin-bottom: 0px;
	border: 1px solid #cccccc;
    background: #fdfdfd;
}

.item-details-attributes-pusher {
	@extend .push-button-secondary;
	@extend .item-details-info-pusher;
	margin-bottom: $sc-base-margin * 3;
	position: relative;
	font-size: $sc-h4-font-size;

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
}

.item-details-product-review-pusher {
	margin-bottom: 0px;
	border: 1px solid #cccccc;
    background: #fdfdfd;
}

.item-details-attributes-content {
	margin-bottom: $sc-base-margin * 3;
}

.item-details-attributes-content-container {
	background: $sc-color-theme-background-light;

	@media (min-width: $screen-sm-min) {
		background: transparent;
	}
}

.item-details-attributes {
	margin-bottom: $sc-base-margin * 3;
	background-color: $pa-white;
	padding: 0px 15px 0px 15px;
	font-size: 13px;

	ul {
		background: none;
	}

	li {
		list-style: disc inside none;
		margin: 5px 0 0 5px;
	}

	@media (min-width: $screen-sm-min){
		padding: 0px;
		background-color: none;
	}
}

.item-views-cell-actionable-name {
	margin: 0px;
	color: $pa-dark-gray;
}

.item-views-cell-actionable-sku {
	p {
		margin: 0px 0px 5px 0px;
	}
}

.item-views-cell-navigable {
	p {
		margin-bottom: 2px;
	}
}

.item-views-cell-navigable-item-image {
	width: 30%;
}

#attribute-row {
	@extend .row;
	margin: 0px 0px 10px 0px;
}

#attribute-name {
	padding: 0px 5px 0px 10px;
	@extend .col-xs-6;
	font-weight: bold;
	text-indent: -10px;
}

#attribute-value {
	@extend .col-xs-6;
	padding: 0px;
}

.product-reviews-center-container {
	background: $pa-white;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	padding: 0px;
}

footer {
	background: #393a3a;
	background: -moz-linear-gradient(top,  #393a3a 0%, #4f5150 37%, #202021 100%);
	background: -webkit-linear-gradient(top,  #393a3a 0%,#4f5150 37%,#202021 100%);
	background: linear-gradient(to bottom,  #393a3a 0%,#4f5150 37%,#202021 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393a3a', endColorstr='#202021',GradientType=0 );
	/*@extend .row;*/
}

.footer-content{
    @extend .container;
    margin: auto;
}

.footer-row{
	@extend .row;
	margin: 0;
}

.footer-content-nav {
	/*@extend .col-md-8;*/
    @extend .col-xs-8;
    padding-left: 0;
    padding-right: 0;
}

.footer-row{
	@extend .row;
	margin: 0;
}

.footer-content-nav-list > li > a {
    color: $pa-light-gray;
}

.footer-content-copyright {
	@extend .col-xs-12;
	
	a {
		color: $pa-light-gray;
	}
	
    @media (min-width: $screen-md-min) {
        /*text-align: center;*/
		width: 100%;
        padding-top: $sc-base-padding * 5;
        padding-bottom: $sc-base-padding * 5;
        float: right;
    }
}

.footer-content-email-form {
    @extend .col-xs-12;
    text-align: center;
    font-size: $sc-base-font-size;
    color: $sc-color-theme-light;
    padding: 10px 0 0 0;
	
	.field {
		padding-bottom: 10px;
	}
	
    @media (min-width: $screen-sm-min) {
        text-align: left;
        float: right;
    }
}

.social-footer {
	margin-top: 20px;
	padding: 0px;
}

.social-footer-icon {
	padding: 2.5px;
}

#navigation-footer ul > li {
	padding: 10px 0 10px 0;
	text-align: center;
	
	h4 {
		border-bottom: 1px solid $pa-light-gray;
		font-size: 20px;
	}
	
	@media (min-width: $screen-sm-min) {
		padding: 0px;
		text-align: left;
		
		h4 {
			font-size: $sc-base-font-size;
			border-bottom: none;
		}
	}
}

#navigation-footer ul > li > a{
	display: block;
	text-decoration: none;
}

.viewport-toggle {
	color: $pa-white;
	text-align: center;
	width: 100%;
	display: none;
}

.mobile-mobile-view {
	color: $pa-white;
	opacity: 0.5;
	
	&:hover {
		opacity: 1.0;
	}
}

.mobile-desktop-view {
	color: $pa-white;
	opacity: 0.5;
	
	&:hover {
		opacity: 1.0;
	}
}

#site-header {
	margin-bottom: 0;
}

.header-main-nav {
	@extend .container;
	min-height: $sc-main-nav-height;
	background-color: $pa-white;

	@media (min-width: $screen-md-min) {
		background-color: $pa-white;
	}
}

%header-link:hover, %header-link:focus {
	color: $pa-secondary;
}

%header-link:active {
	color: $pa-accent;
}

.header-menu-cart-link {
	color: $pa-white;
	background-color: $pa-accent;
}

.header-menu-cart-link-enabled{
	&.header-menu-cart-link {
		@extend .icon-button-primary;
		color: $pa-accent;
	}
}

.header-menu-cart-legend {
	background-color: $pa-light-gray;
	color: $pa-white;
}

.header-menu-cart-icon {
	color: $pa-white;
}

.header-mini-cart-menu-cart-icon {
	background: $pa-dark-gray;
}

.header-mini-cart-menu-cart-link {
	background: transparent;
}

.header-mini-cart-button-checkout-disabled {
	@extend .header-mini-cart-button-checkout;
	
	background: lighten($pa-cta, 30%);
	pointer-events: none;
	
	&:hover {
		background: lighten($pa-cta, 30%);
	}
}

.header-mini-cart-menu-cart-legend {
	color: darken($pa-dark-gray, 20%);
}

.header-secondary-wrapper {
	height: auto;
	background-color: $pa-dark-gray;
	
	@media (min-width: $screen-md-min) {
		background-color: $pa-dark-gray;
		border-top: 0;
		border-bottom: 0;
	}
}

.header-menu-settings-dropdown {
	border: 1px solid $pa-primary;
	
	&:before {
		border-bottom: 7px solid $pa-primary;
	}
	
	&:after {
		border-bottom: 6px solid $pa-primary;
	}
}

.header-logo-wrapper {
	width: 55%;
	clear: none;
	margin-top: 10px;
	
	@media (max-width: 455px) {
		width: 100%;
		clear: both;
		padding: 0px 10px 0px 10px;
	}
	
	@media (min-width: $screen-md-min) {
		width: 40%;
		clear: none;
		margin-top: -5px;
		margin-bottom: 10px;
	}
}

.header-logo {
	width: auto;
	height: auto;
	line-height: normal;

	@media (min-width: $screen-sm-min) {
		width: 460px;
	}
}

.header-logo-image {
	width: 100%;

	@media (min-width: $screen-md-min) {
		width: 460px;
	}
}

.header-tracking-label {
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

.header-tracking-input {
	@extend .input-xsmall;
	margin-right: 10px;
	float: left;
	width: 100%;
}

#header-email-sign-up-button {
	@include pa-grad-cta;
	border: 1px solid $pa-cta;
	color: $pa-white;
	float: right;
	padding: 9px 14px 10px 14px;
	line-height: 20px;
	
	&:hover {
		background: darken($pa-cta, 0.3);
	}
}

.modal-body {
	overflow: auto;
}

.get-tracking-button {
	background: none;
	padding: 0px 10px;
}

.get-tracking-send-button {
	@extend .button-medium;
	@extend .button-primary;
	
	float: right;
}

.header-right-menu {
	margin-top: 3px;
	margin-bottom: 10px;
}

.header-contact-info {
	font-size: 12px;
    float: right;
	margin: 0px;
	
	@media (min-width: $screen-sm-min) {
		font-size: 15px;
		margin: 3px 30px 10px 0px;
	}
}

.header-contact-info-list {
	float: right;
	color: $pa-dark-gray;
}

.header-contact-info-ul {
	li {
		display: inline-block;
		line-height: 44px;
		float: left;
		padding: 0px 6px 0px 6px;
	}
}

.header-contact-info-email-button {
	float: right;
}

.header-contact-info-email-button-link {
	background: $pa-cta;
	padding: 10px 14px 10px 14px;
}

.header-sidebar-menu-wrapper li {
	background-color: $pa-dark-gray;
}

.header-sidebar-menu-wrapper a {
	color: $pa-white;
	text-transform: uppercase;
}

.header-sidebar-menu-wrapper .header-sidebar-menu-back {
	background: $pa-dark-gray;
}

.header-sidebar-wrapper .header-sidebar-menu-separator{
	background-color: $pa-dark-gray;
}

.header-sidebar-menu-push-icon {
	color: $pa-white;
}

.header-sidebar-user-logout {
	color: $pa-white
}

.header-menu-searchmobile {
	display: none;
}

.header-menu-searchmobile-icon {
	background: $pa-cta;
}

.header-menu-search-link {
	color: $pa-white;
	padding: 10px 0px;
}

.header-menu-search-link:hover {
	color: $pa-accent;
}

.header-menu-search-link.active {
	color: $pa-accent;
}

.header-menu-searchmobile-link.active {
	background: $pa-dark-gray;
}

.header-menu-secondary-nav {
	padding: 0px;
}

.header-menu-level1-anchor {
	color: $pa-white;
}

.header-menu-level1-anchor:hover {
	color: $pa-accent;
}

.open .header-menu-level1-anchor {
	color: $pa-accent;
}

.header-menu-home-anchor, .header-menu-shop-anchor {
	color: $pa-white;
	padding: 0px 20px;
	margin-right: 0px;
}

.header-menu-home-icon {
	@extend .fa;
	@extend %fa-home;
}

#header-menu-home-icon-mobile {
	font-size: 24px;
	display: block;
}

.header-menu-item {
	position: relative;
}

#header-menu-home-anchor-department {
	position: static;
	
	.header-menu-level-container-dropdown {
		width: 100%;
	}
}

.header-menu-item:hover .header-menu-level-container-dropdown {
	visibility: visible;
	opacity: 0.99;
	transition-delay: 0s;
}

.header-menu-item-level2 {
	position: relative;
}

.header-menu-item-level2:hover .header-menu-level3 {
	display: block;
}

.header-menu-level2 {
	background: $pa-white;
	width: 300px;
	position: relative;
}

.header-menu-level2-anchor {
	color: $pa-secondary;
	padding: 10px;
	border-bottom: none;
	background: lighten($pa-dark-gray, 10%);
	pointer-events: none;
	font-size: 20px;
	
	@media (min-width: $screen-md-min){
		background: none;
	}
}

.header-menu-level2-menu {
	padding: 5px 20px 5px 20px;
}

.header-menu-level2 > li {
	float: none;
	width: 100%;
}

.header-menu-level2-anchor:hover {
	color: $pa-accent;
}

.header-menu-level3 {
	display: block;
	position: absolute;
    left: 50px;
    width: 175px;
    top: 36px;
    padding: 15px 0px;
    background: white;
	-webkit-box-shadow: 0px 0px 18px -7px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 18px -7px rgba(0,0,0,1);
	box-shadow: 0px 0px 18px -7px rgba(0,0,0,1);
	z-index: 1002;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.2s 0.3s;
	transition: 0.2s 0.3s;
}

.header-menu-level3-menu {
	padding: 8px 10px;
	position: relative;
	
	&:hover {
		> a {
			color: $pa-accent;
		}
		background: $pa-dark-gray;
	}
	
	&:hover > ul {
		visibility: visible;
		opacity: 0.99;
		transition-delay: 0s;
	}
	
	i {
		float: right;
	}
}

.header-menu-level3-anchor {
	color: $pa-tertiary;
}

.header-menu-myaccount-anchor-level3.active {
	color: $pa-accent;	
}

.header-menu-level-container-dropdown {
	@extend .header-menu-level-container;
	
	display: block;
	background-color: $pa-white;
	width: 230px;
	min-height: 0px;
    border-bottom: none;
    border-top: none;
	padding-top: 10px;
	-webkit-box-shadow: -7px 10px 23px -8px rgba(0,0,0,1);
	-moz-box-shadow: -7px 10px 23px -8px rgba(0,0,0,1);
	box-shadow: -7px 10px 23px -8px rgba(0,0,0,1);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.2s 0.3s;
	transition: 0.2s 0.3s;
}

#sale-menu-item-container {
  position: static;
}

#sale-dropdown {
  width: 100%;
  padding: 20px;
}

#sale-dropdown .header-menu-item-level2 {
  width: 20%;
  float: left;
}

#sale-dropdown .header-menu-item-level2:nth-child(5n+1) {
  clear: left;
}

.header-profile-login-link, .header-profile-register-link, .header-profile-loading-link {
	color: $pa-light-gray;
	padding: 0px;
	
	@media (min-width: $screen-md-min){
		color: $pa-dark-gray;
	}
}

.header-profile-menu-login {
	color: $pa-light-gray;
	
	@media (min-width: $screen-md-min){
		color: $pa-dark-gray;
	}
	
	li {
		padding: 0px 6px;
	}
}

.header-sidebar-wrapper .header-profile-menu-login {
	height: auto;	
}

.header-sidebar-wrapper .header-profile-welcome-link {
	color: $pa-white;
}

.header-sidebar-toggle-wrapper {
	margin-top: 3px;
}

.header-site-search {
	display: block;
	float: right;
	clear: both;
	width: 100%;
	border: 1px solid lighten($pa-dark-gray, 40%);
	margin-bottom: 15px;
	
	@media (min-width: $screen-md-min) {
		width: 35%;
		clear: none;
		border: none;
		margin: -10px 10px 10px 0px;
	}
}

.site-search {
	border: 0px;
}

.site-search-content {
	@media (min-width: $screen-md-min) {
		width: 100%;
		height: auto;
	}
}

.site-search-content-input {
	.itemssearcher-input {
		border-radius: 0;
	}
	
	@media (min-width: $screen-md-min) {
		border: 1px solid $pa-cta;
	}
}

.site-search-input-icon {
	color: $pa-cta;
	
	@media (min-width: $screen-md-min) {
		top: 7px;
	}
}

.site-search-input-reset {
	right: 10%;
	
	@media (min-width: $screen-md-min) {
		padding: 7px;
		width: 34px;
		height: 37px;
		right: 54px;
	}
}

.site-search-button-submit {
	@include pa-grad-cta;
	
	font-size: 15px;
	visibility: visible;
	border: none;
	line-height: 20px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
	
	&:hover {
		background: darken($pa-cta, 0.3);
	}
	
	@media (min-width: $screen-md-min) {
		padding-top: 9px;
		padding-bottom: 10px;
		border: 1px solid $pa-cta;
	}
}

.site-search-button-close {
	display: none;
	border-left: 1px solid lighten($pa-dark-gray, 40%);
}

.nav-search-content {
    @media (min-width: $screen-md-min){
        //Search Content dropdown arrow
        &::before {
            position: relative;
            top: 0px;
            right: 0px;
            display: none;
            border-right: none;
            border-bottom: none;
            border-left: none;
            border-bottom-color: none;
            content: '';
            z-index: 1001;
        }
        
        &::after {
            position: relative;
            top: 0px;
            right: 0px;
            display: none;
            border-right: none;
            border-bottom: none;
            border-left: none;
            content: '';
            z-index: 1001;
        }
    }
}

.nav-search-content:before, .site-search-content:before {
	display: none;
}

.itemssearcher-input, .nav-search-input {
	padding: 15px 0px 15px 40px;
	font-size: 15px;
	width: 100%;
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: calc(100% - 40px);
	-webkit-box-shadow: inset -1px 1px 3px 1px rgba(28,74,142,0.46);
	-moz-box-shadow: inset -1px 1px 3px 1px rgba(28,74,142,0.46);
	box-shadow: inset -1px 1px 3px 1px rgba(28,74,142,0.46);
	
	@media (min-width: $screen-md-min){
		padding: 9px 0px 10px 40px;
	}
}

.global-views-breadcrumb {
	margin: 10px 0px 0px 0px;
}

.global-views-modal-content-header-close {
	color: $pa-dark-gray;
}

.social-sharing-flyout-icons {
	text-align: center;
	
	@media (min-width: $screen-md-min){
		text-align: left;
	}
}

.social-sharing-flyout-content-social-facebook, .social-sharing-flyout-content-social-twitter, .social-sharing-flyout-content-social-google, .social-sharing-flyout-content-social-pinterest {
	padding: 5px;
	border: none;
	color: $pa-light-gray;

	span {
		display: none;
		@media (min-width: $screen-md-min) {
			display: none;
		}
	}
}

.social-sharing-flyout-content-social-pinterest {
	margin-bottom: 0;
	font-size: 15px;
}

.social-sharing-flyout-content-social-facebook-icon, .social-sharing-flyout-content-social-twitter-icon, .social-sharing-flyout-content-social-google-icon, .social-sharing-flyout-content-social-pinterest-icon {
	font-size: 45px; 
	color: lighten($pa-dark-gray, 10%);
}

.social-sharing-flyout-hover-icons {
	a {
		background: transparent;
		color: #bd071d;
	}
	
	.social-sharing-flyout-content-social-pinterest-icon {
		font-size: 40px;
		color: #bd071d;
	}
}

.cms-content-text {
	a {
		color: #4569fc;	
	}
	
	ol {
		padding: 0 0 15px 67px;
		
		li {
		list-style-type: decimal;
		padding-left: 15px;
		}
	}
	
	ul {
		padding: 0 0 15px 50px;
		
		li {
		list-style-type: none;
		padding-left: 15px;
		}
	}
	
	blockquote {
		padding-left: 50px;
		line-height: 1.6;
	}
}

.cms-content-image {
	text-align: center;
	
	a[href*="nra"] img {
		max-width: 43%;
	}
	
	@media (min-width: $screen-sm-min) {
		a[href*="nra"] img {
			max-width: 100%;
		}
	}
}

#emailentry {
	width: 100%;
}

#manual-icon {
	color: #4f5150;
	font-size: 40px;
}

.email-icon {
	@extend .fa;
	@extend %fa-envelope;
}

.facets-facet-browse-header {
	border-bottom: 1px solid $pa-light-gray;
}

.facets-facet-browse-list-header-filter-facets {
	@include pa-grad-dark-gray;
	
	margin: 10px 0px 0px 0px;
	max-width: 153px;
	float:left;
	clear: left
}

.facets-faceted-navigation-item-facet-group-expander {
	padding: 10px;
	background: #d9d9d9;
}

.facets-faceted-navigation-item-facet-group-content {
	padding: 0px 0px 0px 10px;
}

.facets-faceted-navigation-item-facet-group-expander-icon {
	color: lighten($pa-dark-gray, 15%);
}

.facets-faceted-navigation-item-facet-group-title {
	color: $pa-dark-gray;
}

.facet-recently-viewed {
	clear: both;
}

.facets-item-cell-grid-title, .facets-item-cell-table-title, .facets-item-cell-list-name, .facets-item-cell-list-title {
	color: $pa-dark-gray;
	padding-top: 0px;
}

.facets-item-cell-table-title {
	min-height: 90px;
}

.facets-item-cell-table {
	width: 100%;
}

.facets-item-cell-grid {
	margin-bottom: 0px;
}

.facets-item-cell-grid-image-wrapper {
	height: 110px;
}

.facets-item-cell-grid-image {
	
	max-height: 120px;
	width: auto;
}

.facets-item-cell-grid-title-container {
	min-height: 110px;
}

.facets-item-cell-list .global-views-star-rating-area, .facets-item-cell-grid .global-views-star-rating-area, .facets-item-cell-table .global-views-star-rating-area {
	margin: 0px;
}

.facets-item-cell-list-right {
	text-align: left;
}

.facets-item-cell-list-view-details {
	max-width: 300px;
	text-align: center;
	
	.facet-item-view-more-button {
		margin: 0px 0px 5px 0px;
	}
}

.facets-item-cell-attributes {
	@extend .item-pa-options;
}

.facets-items-collection-view-cell-span3 {
	padding-top: 10px;
	border-top: 1px solid #E0E0E0;
	
	&:nth-child(2n+1){
		clear: left;
	}
	
	@media (min-width: $screen-sm-min){
		&:nth-child(2n+1){
			clear: none;
		}
	}
}

.facets-items-collection-view-cell-span12, .facets-items-collection-view-cell-span6 {
	border-top: 1px solid $pa-light-gray;
	padding: 15px 0 0 0;
}

.facets-faceted-navigation-item-facet-group[data-facet-id="1"], .facets-faceted-navigation-item-facet-group[data-facet-id="2"] {
	.facets-faceted-navigation-item-facet-group-expander {
		background: $pa-dark-gray;
	}
	
	h4 {
		color: $pa-white;
	}
	
	i {
		color: white;
	}
	
	& > div {
		-webkit-box-shadow: inset 0px 18px 11px -18px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 0px 18px 11px -18px rgba(0,0,0,0.5);
		box-shadow: inset 0px 18px 11px -18px rgba(0,0,0,0.3);
		background: #fbfafa;
		background: #fbfafa;
		background: -moz-linear-gradient(top, #fbfafa 65%, #fbfafa 65%, #ffffff 99%);
		background: -webkit-linear-gradient(top, #fbfafa 65%,#fbfafa 65%,#ffffff 99%);
		background: linear-gradient(to bottom, #fbfafa 65%,#fbfafa 65%,#ffffff 99%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfafa', endColorstr='#ffffff',GradientType=0 );
	}
}

.facets-faceted-navigation-item-facet-group[data-facet-id=IsInStock], .facets-faceted-navigation-item-facet-group[data-facet-id=FeaturedProducts], .facets-faceted-navigation-item-facet-group[data-facet-id=StaffPicks], .facets-faceted-navigation-item-facet-group[data-facet-id=TopSelling], .facets-faceted-navigation-item-facet-group[data-facet-id=custitem_pa_featured_products], .facets-faceted-navigation-item-facet-group[data-facet-id=custitem_pa_staff_picks], .facets-faceted-navigation-item-facet-group[data-facet-id=custitem_pa_top_selling], .facets-faceted-navigation-item-facet-group[data-facet-id=itemtype] {
	display: none;
}

.facet-item-view-more-button {
	@include pa-grad-cta;

    display: block;
	width: 60%;
	font-size: 12px;
	border: none;
	padding: 10px;
	margin: auto;
	margin-bottom: 5px;
	color: $pa-white;
}

.facets-item-cell-table-rating {
	display: inline-block;
	
	.global-views-star-rating-area {
		float: left;
	}
}

.global-views-star-rating-area {
	/*width: auto;
	text-align: center;*/
}

#stock-compare-wrapper {
	margin-top: 15px;
}

.item-compare {
	position: fixed;
	bottom: 10px;
	right: 0px;
	z-index: 1000;
	padding: 10px;
    background: rgba(0, 0, 0, 0.58);
}

#itemCompare {
	-webkit-box-shadow: -4px 4px 13px -3px rgba(0,0,0,1);
    -moz-box-shadow: -4px 4px 13px -3px rgba(0,0,0,1);
    box-shadow: -4px 4px 13px -3px rgba(0,0,0,1);
}

.item-compare-checked {
	display: none;
	
	@media (min-width: $screen-sm-min){
		display: block;
	}
}

.item-views-related-item-title {
	color: $pa-dark-gray;
}

.recently-viewed-items {
	h3 {
		border-top: 1px solid #e0e0e0;
		text-align: center;
		padding: 15px 15px 20px 15px;
	}
}

.cart-item-actions-item-list-actionable-edit-button-edit {
	display: none;
}

.cart-item-summary-quantity-add, .cart-item-summary-quantity-remove {
	@media (min-width: $screen-md-min) {
		display: inline-block;
	}
}

.cart-confirmation-line-item-container {
	float: left;
	margin-bottom: 35px;
}

.cart-confirmation-modal-item-name {
	margin-bottom: 0px;
}

.cart-confirmation-summary {
	float: right;
	text-align: right;
}

.cart-confirmation-modal-actions {
	clear: both;
}

.cart-detailed-title-details-count {
	letter-spacing: 0px;
}

.cart-summary-out-of-stock-message {
	@extend .restriction-message-container;
}

.cart-summary-button-proceed-checkout {
	display: block;
}

.cart-summary-expander-head-toggle {
	display: none;
}

#cart-summary-btn-proceed-checkout-loading, #cart-detailed-proceed-btn-loading {
	@extend .button-primary;
	
	width: 100%;
    text-align: center;
    line-height: 1;
	padding: 20px 35px;
    letter-spacing: 1px;
    font-size: 16px;
	background: $pa-light-gray;
}

#in-modal-order-wizard-limit-exceeded-link {
	@extend .button-primary;
	
	width: 100%;
    text-align: center;
    line-height: 1;
	padding: 20px 35px;
}

.order-history-summary-button-request-return {
	display: none;
}

.order-history-shipping-group-pending-table {
	td:last-of-type {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.order-wizard-restriction-message-wrapper {
	@extend .col-sm-7;
	clear: both;
	
	@media (min-width: $screen-md-min) {
		@extend .col-md-8;
	}
}

.order-wizard-restriction-message-container {
	@extend .restriction-message-container;
	
	h4 {
		margin-bottom: 10px;
		color: $pa-danger-text;
	}
	
	li {
		list-style-type: disc;
		margin: 5px 5px 5px 20px;
	}
	
	a {
		color: rgba(193,45,43,1);
	}
}

.order-wizard-restriction-shipping-message-title {
    color: #a94442;
    text-transform: uppercase;
}

.order-wizard-promocodeform {
	display: none;
}

.order-wizard-shipmethod-module-option {
	padding: 15px;
}

.order-wizard-showshipments-special-instructions {
	clear: left;
	padding-left: 15px;
	padding-right: 15px;
}

.order-wizard-showshipments-special-instructions-details {
	min-height: inherit;
	background: $pa-white;
	padding: 25px;
}

.order-wizard-showshipments-module-shipping-details-address-link {
	@media (min-width: $screen-md-min) {
		margin-bottom: 15px;
	}
}

.order-wizard-showshipments-module-shipping-details-method {
	margin-bottom: 20px;
}

.order-wizard-special-instructions-container {
	clear: both;
	padding-top: 15px;
}

[data-input=custbody_ffl_shipping_state] .global-views-states-input-required {
	display: none;
}

#custbodyspecialinstructions {
	width: 100%;
}

.checkout-layout-header {
	-webkit-box-shadow: none;
	box-shadow: none;
	
}

.checkout-layout-content {
	margin-top: 15px;
}

.myaccount-layout-header {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.home-newsletter {
	background: #e0e0e0;
	padding: 15px 20px;
}

.form-control {
	width: 100%;
	height: 34px;
	display: block;
	padding: 6px 12px;
	line-height: 1.4;
	margin-top: 5px;
}

.cssload-container {
	position: fixed;
	width: 100%;
	height: 45px;
	text-align: center;
}

.cssload-speeding-wheel {
	position: fixed;
	top: 40%;
	left: 0;
	right: 0;
	width: 45px;
	height: 45px;
	margin: 0 auto;
	zIndex: 100000;
	border: 3px solid $pa-dark-gray;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 1175ms infinite linear;
		-o-animation: cssload-spin 1175ms infinite linear;
		-ms-animation: cssload-spin 1175ms infinite linear;
		-webkit-animation: cssload-spin 1175ms infinite linear;
		-moz-animation: cssload-spin 1175ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/*Form Stack*/
.fsPage {
	padding: 20px;
}

.fsForm {
	background: $pa-light-gray;
}

.fsRow, .fsSubmit {
	clear: both;
}

.fsField {
	max-width: 300px;
	display: block;
}

.fsSubField {
	float: left;
	margin-right: 5px;
	
	.fsField {
		max-width: 147.5px;
	}
}

.fsSubFieldGroup {
	margin-top: 5px;
}

.fsBody .fsForm, .fsForm .fsSpacerRow .fsRowBody {
}

.fsBody .fsForm {
	border: none;
}

.fsForm, .fsError {
	margin-left: 0;
	margin-right: 0;
	float: left;
}

.fsBody .fsForm .fsCell {
	padding-top: 6px;
	padding-bottom: 6px;
}

.fsBody .fsForm .fsSectionHeader {
}

.fsBody .fsForm .fsSectionHeading {
	color: #000000;
	font-family: Helvetica Neue, Arial, Lucida Grande, Tahoma, Verdana, sans-serif;
	font-size: 34px;
	line-height:39px;
}

.fsBody .fsForm .fsSectionText {
	color: #333;
	font-family: Helvetica Neue, Arial, Lucida Grande, Tahoma, Verdana, sans-serif;
}

.fsBody .fsForm .fsLabel, .fsBody .fsForm .fsOptionLabel, .fsBody .fsForm .fsMatrix th, .fsBody .fsForm .fsMatrixLabel {
	color: #000000;
	font-family: Helvetica Neue, Arial, Lucida Grande, Tahoma, Verdana, sans-serif;
	font-size: 13px;
	line-height:18px;
}

.fsBody .fsForm input[type=text].fsField,
.fsBody .fsForm input[type=file].fsField,
.fsBody .fsForm input[type=number].fsField,
.fsBody .fsForm input[type=email].fsField,
.fsBody .fsForm input[type=tel].fsField,
.fsBody .fsForm select.fsField {
	color: #333333;
	border-color: #fafafa;
	height: 34px;
	padding-left: 15px;
}

.fsBody .fsForm input[type=text].fsField,
.fsBody .fsForm input[type=file].fsField,
.fsBody .fsForm input[type=number].fsField,
.fsBody .fsForm input[type=email].fsField,
.fsBody .fsForm input[type=tel].fsField,
.fsBody .fsForm textarea.fsField {
	padding: 7px;
}

.fsBody .fsForm input[type=text].fsRequired,
.fsBody .fsForm input[type=file].fsRequired,
.fsBody .fsForm input[type=number].fsRequired,
.fsBody .fsForm input[type=email].fsRequired,
.fsBody .fsForm input[type=tel].fsRequired,
.fsBody .fsForm textarea.fsRequired,
.fsBody .fsForm select.fsRequired {
    
}

.fsBody .fsForm textarea.fsField {
	
}

.fsOptionLabel.vertical {
	display: block;
	clear: left;
	
	.fsField {
		display: inline;
		margin: 0px 5px 0px 0px;
	}
}

.fsBody .fsForm input[type=radio].vertical {
	margin: 0px 5px 0px 0px;
    float: left;
}

.fsBody .fsForm .fsSupporting {
	color: #656565;
}

.fsBody .fsForm .fsSupporting {
	font-size: 11px;
}

.fsPreviousButton,
.fsSubmitButton,
.fsNextButton {
	@extend .button-medium;
	@extend .button-primary;
	padding: 15px;
}

.fsSubmitButton {
	margin: auto;
}

#fsForm2083439 {
	background-color: $pa-light-gray;
}

.fsForm, fsMultiColumn, .fsMaxCol2 {
	width: 100%;
}
/*End Form Stack*/

.show-stock {
	margin: 10px 0px 0px 0px;
	float: right;
	clear: right;
	width: 45%;
	text-align: right;
	
	@media (max-width: 319px){
		width: 100%;
		text-align: center;
	}
}

/*Temporary hide*/
div[data-id="cases"], a[data-id="quotes"], a[name="cases"], a[name="allmycases"], a[name="submitnewcase"], .header-menu-profile a[name="cases"], .header-menu-profile a[name="allmycases"], .header-menu-profile a[name="submitnewcase"]{
	display: none;
}

div[data-cart-option-id="custcol_gc_amount"],
div[data-cart-option-id="custcol_adopted"],
div[data-cart-option-id="custcol_current_quantity"],
div[data-cart-option-id="custcol_child_price"],
div[data-cart-option-id="custcol_child_type"],
div[data-cart-option-id="custcol_fixed"],
div[data-cart-option-id="custcol_what_belong"],
div[data-cart-option-id="custcol_current_price"],
div[data-cart-option-id="custcol_pco"],
div[data-cart-option-id="custcol_options"],
div[name=PCO],
div[data-cart-option-id="custcol_ad_name"],
div[data-cart-option-id="custcol_parent_options"],
div[data-cart-option-id="custcol_child_id"],
div[data-cart-option-id="custcol_parent_id"],
div[data-cart-option-id="custcol_regular_price"],
div[data-cart-option-id="custcol_pre_order"],
div[data-cart-option-id="custcol_original_description"],
.item-details-options-pusher
{
	display: none;
}

/*For CMS*/
#pa-spikes-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 83.4% 0;
    background-size: 1250%;
    display: block;
}

#pa-american-defense-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 0 0;
    background-size: 1250%;
    display: block;
}

#pa-lantac-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 41.5% 0;
    background-size: 1250%;
    display: block;
}

#pa-geissele-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 33.4% 0;
    background-size: 1250%;
    display: block;
}

#pa-bravo-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 16.5% 0;
    background-size: 1250%;
    display: block;
}

#pa-primary-arms-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 58.1% 0;
    background-size: 1250%;
    display: block;
}

#pa-seekins-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 75% 0;
    background-size: 1250%;
    display: block;
}

#pa-daniel-defense-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 24.9% 0;
    background-size: 1250%;
    display: block;
}

#pa-magpul-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 50% 0;
    background-size: 1250%;
    display: block;
}

#pa-radical-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 66.7% 0;
    background-size: 1250%;
    display: block;
}

#pa-anderson-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 8.2% 0;
    background-size: 1250%;
    display: block;
}

#pa-troy-logo {
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    background: url("/CMS/Development/Published/Images/Logo_Sprite.png") 91.7% 0;
    background-size: 1250%;
    display: block;
}

#pa-googleplus-social-icon {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: url("/CMS/Development/Published/Images/social-icons-sprite-43.png") 75% 0;
    background-size: 520%;
    display: block;
}

#pa-facebook-social-icon {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: url("/CMS/Development/Published/Images/social-icons-sprite-43.png") 0 0;
    background-size: 520%;
    display: block;
}

#pa-twitter-social-icon {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: url("/CMS/Development/Published/Images/social-icons-sprite-43.png") 50% 0;
    background-size: 520%;
    display: block;
}

#pa-instagram-social-icon {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: url("/CMS/Development/Published/Images/social-icons-sprite-43.png") 100% 0;
    background-size: 520%;
    display: block;
}

#pa-youtube-social-icon {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: url("/CMS/Development/Published/Images/social-icons-sprite-43.png") 25% 0;
    background-size: 520%;
    display: block;
}